

.mainContainer  {
   
   display: inline-block;
   justify-content: center;
   align-items: center;

   border: 2px solid black;
   background-color: #faf9f6;

   width: 55rem;
   height: 60rem;
  
   margin: 0;
   padding: 0;
   margin-left: 20%;
    
}



.container1  {
   display: inline-flex;
   align-items: center;   
   justify-content: center;
   gap: 3rem;
  
   margin-left: 2%

}


.container2  {
   display: flex;
   align-items: bottom;   
   justify-content: center;
   gap: 2rem;

   margin-top: 1%;
   margin-bottom: 1%;
 
   font-size: 2rem;
   color: #632626;   

   font-family: "Rubik Mono One", monospace;
   font-weight: 200;
   font-style: normal;

   text-align: justify;
     
}


.container3  {
   display: flex;
   align-items: center;   
   justify-content: right;

   border: 5px solid white;

   background-color: indianred;
   color: white;   

   margin-top: 0%;
   margin-right: 0%;
   margin-bottom: 0%;
   padding: 1%;

  
}


.container4  {
   display: flex;
   align-items: center;   
   justify-content: center;
   gap: 0.8rem;
 
   margin-top: 2%;
   margin-bottom: 1%;
  
}


.container5  {
   display: flex;
   align-items: center;   
   justify-content: center;
   gap: 2rem;
 

   font-size: 1.5rem;
   color: #632626;   
 
   font-family: serif;
   font-weight: 200;
   font-style: normal;

   text-align: justify;
   
   
  
}


.container6  {
   display: flex;
   align-items: center;   
   justify-content: center;

   gap: 1.5rem;
 

   font-size: 1.2rem;
     
   font-family: serif;
   font-weight: 200;
   font-style: normal;

   text-align: justify;
   
   margin-bottom: 2%; 
  
}



h1  {
   
   font-size: 4rem;
   //color: white;   
   color: black;      

   font-family: "Rubik Mono One", monospace;
   font-weight: 900;
   font-style: normal;

   margin: 0%;
  
}


h2  {
   
   font-size: 2.5rem;
   color: #336D82;   

   //font-size: 3rem;
   //color: #8A2D3B;   
   
   font-family: "Rubik Mono One", monospace;
   font-weight: 900;
   font-style: normal;

   margin: 0%;
  
}


h3  {
   
   font-size: 1.3rem;
   color: indianred;   
 
   font-family: "Rubik Mono One", monospace;
   font-weight: 500;
   font-style: normal;

   margin: 0%;

  
}


h4  {
   
   font-size: 1.7rem;
   color: white;   
 
   font-family: "Rubik Mono One", monospace;
   font-weight: 500;
   font-style: normal;

   margin: 0%;

  
}



p  {
   
   font-size: 1.9rem;
   
   color: #000; 
 
   font-family: "Rubik Mono One", monospace;
   font-weight: 500;
   font-style: normal;

   text-align: justify;
   
   margin: 0%;
  
}


select {
 
  margin-top: 1%;

}


.definitions  {
   font-size: 1.1rem;
   
   
   margin-right: 2%;
   margin-bottom: 1%;

}

footer  {
   text-align: right;
   font-size: 1.1rem;
   font-weight: 500;
   color: skyblue;
}


.inputName {
   
   width: 10%;
   font-size: 1rem;   

}


.inputUser {
   
   width: 13%;
   font-size: 1.1rem;   

}


.text-right  {

  
   margin-right: 2rem;
   

}



.tileImage  {
   height: 15rem;
   border: 1px solid black;
   border-radius: 20px;

   float: left;
   margin-left: 3%;
   
}



.card  {
   width: 45%;
   text-align: justify;
   
   float: right;

   margin-left: 1%;
}



.left  {
   float: left;
}

.right  {
   float: right;   
}





.letterDiv  {
    display: flex;
    align-items: center;   
    justify-content: center;

    //width: 4.5rem;
    width: 8%;

    border: 3px solid black;
    border-radius: 15px; 
    
    //background-color: #525E75;
    background-color: #B4EBE6;
     
    margin: 0%;


}


.spaceDiv  {
    display: flex;
    align-items: center;   
    justify-content: center;

    border: 0px solid white; 

    width: 3%;
    
    margin: 0%;


}



.btn {
  
  width: 8rem;
  height: 1.7rem;
  
  font-size: 1.1rem;
  border-radius: 5px;
  margin-top: 0px;

}




